@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #f6f8f9;
}

header{
    background-color: white;
    height: 100px;
    padding: 25px 0 0 25px;
}

header img,h1{
    vertical-align: middle;
}

h1{
    display: inline-block;
    font-family: serif;
    font-size: 44px;
    
}

main{
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    
}

section{
   padding-left: 50px;
}

main button{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px 5px 10px;
}



#task{
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
    margin: 20px 0 10px 0px;
    display: inline-block;
}

#section{
    background-color:#ffffff;
    color: gray;
    border: 1px solid gray;
}

hr{
    border: 1px solid rgb(231, 231, 231);
    color: #f4f6f7;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

h2::before{
    content: '\25BC';
}

.corretto, .sbagliato{
    font-size: 20px;
    display: block;
    margin: 0px 0 10px 0px;
}


.corretto::before, .sbagliato::before{
    padding: 4px;
    text-align: center;
    border-radius: 80%;
    margin-right: 5px;
    font-size: 6px;
    vertical-align: middle;
}


.corretto::before{
    content: '\2713' ;
    color: green;
    border: 1px solid green;
}

.sbagliato::before{
    content: '\2717' ;
    color: red;
    border: 1px solid red;
}

.sblu, .sviola, .sgreen, .sarancione, .srosa, .sgreen2{
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 13px;
    padding: 3px 10px 3px 10px;
    margin-left: 7px;
}

.sblu{
    background-color: #47adf1;
    border: 1px solid #47adf1;
    
}


.sviola{
    background-color: #9c72e4;
    border: 1px solid #9c72e4;
}

.sgreen{
    background-color: #64c0a9;
    border: 1px solid #64c0a9;
}

.sarancione{
    background-color: #f19d32;
    border: 1px solid #f19d32;
}

.srosa{
    background-color: #d762a0;
    border: 1px solid #d762a0;
}

.sgreen2{
    background-color: #98cc9c;
    border: 1px solid #98cc9c;
}



